.evaluate-content{
    justify-content: center;
    padding: 20px 80px 20px 80px;
  }
  
  .Post{
    max-width: 800px;
    width:100%;
    display:table;
    margin: 0 auto;
    padding: 20px 50px;
  }

.report-card {
    margin: auto;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(0, 0, 0, 0.06) 0px 2px 3px 0px;
    border: 1px solid rgb(160, 153, 153);
    border-radius: 10px;
  }
  
  .report-title {
    text-align: center;
    font-weight: bold;
  }
  .reportdownload {
    margin: auto;
    width: 600px;
    font-size:12px;
    color: rgba(5, 0, 0, 0.658);
  }
  
  .report-contact {
    text-align: center;
    font-size: x-small;
    color: rgba(5, 0, 0, 0.658);
    font-weight: 501;
    font-size:12px;
    
  }
  
  #report-cont {
    padding: 20px 20px 20px 20px;
    color: rgba(5, 0, 0, 0.658);
    font-weight: 501;
    font-size:20px;
    
  }
.custom{
  width: 150px !important;
}

.btn-lg{
  background-color: rgb(6, 146, 6);
}

#exampleNumber{
  border: 1px solid rgb(160, 153, 153);
}

.ul.ab{
  list-style-type: disc;
}